
      <div class="gradient-1 bg-vide-1">
        <div class="gradient-6 bg-vide" data-vide-bg="homepage/video/video-1" data-vide-options="posterType: jpg, position: 50% 50%"></div>
        <!-- About-->
        <section class="section section-inset-1">
          <div class="container">
            <div class="row row-30 justify-content-xl-between align-items-md-center align-items-xxl-start">
              <div class="col-md-6 col-xl-5 offset-top-xxl-15 wow fadeInLeft">
                <div class="box-style-1">
                  <div class="headings-default">
                    <div class="headings-default-subtitle">Investment</div>
                    <h2>Kingsworth Capital<br></h2>
                  </div>
                  <p>Our firm Kingsworth Capital Ltd is a diversified Investment company that seeks to offer a range of alternative and durable financial solution to our clients by providing thought-through and risk calculated opportunities leveraging on our market knowledge and expertise to invest and deliver sound positive alpha returns to our clients. </p>
                  <div class="group-md group-middle justify-content-center"><a class="button button-isi button-primary" href="https://docs.google.com/forms/d/1t5Tsv2lRrIOza76d_TbhAyvPCamqwoNs9TwR77PIVa4/edit?usp=drivesdk">Get started</a><a class="button button-default-outline" href="#faq">Learn More</a></div>
                </div>
              </div>
              <div class="col-md-6 wow fadeIn">
                <div class="img-style-1 img-style-3"><img src="/homepage/images/image-1-715x521.png" alt="" width="715" height="521"/>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Clients-->
        <section class="section-style-1">
          <div class="container">
            <div class="clients-default-wrap wow fadeInRight">
              <div class="row row-20 align-items-center justify-content-center justify-content-md-start justify-content-lg-between">
                <div class="col-auto col-sm-4 col-lg-auto"><a class="clients-default" href="#"><img src="/homepage/images/clients-1-82x30.png" alt="" width="82" height="30"/></a></div>
                <div class="col-auto col-sm-4 col-lg-auto"><a class="clients-default" href="#"><img src="/homepage/images/clients-2-130x25.png" alt="" width="130" height="25"/></a></div>
                <div class="col-auto col-sm-4 col-lg-auto"><a class="clients-default" href="#"><img src="/homepage/images/clients-3-86x15.png" alt="" width="86" height="15"/></a></div>
                <div class="col-auto col-sm-4 col-lg-auto"><a class="clients-default" href="#"><img src="/homepage/images/clients-4-116x26.png" alt="" width="116" height="26"/></a></div>
                <div class="col-auto col-sm-4 col-lg-auto"><a class="clients-default" href="#"><img src="/homepage/images/clients-5-191x31.png" alt="" width="191" height="31"/></a></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="gradient-2">
        <section class="section section-xs section-inset-3 text-center">
          <div class="container">
            <div class="box-relative wow fadeInUp">
              <div class="headings-default">
                <div class="headings-default-subtitle">About</div>
                <h3>SERVICES<br></h3>
              </div>
            </div>
            <div class="row row-xxl row-30 justify-content-center">
              <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".1s">
                <!-- Service default-->
                <article class="service-default block-md">
                  <div class="service-default-icon thin-icon-network"></div>
                  <div class="service-default-caption">
                    <div class="heading-6 service-default-title"><a href="#">Salary Backup</a></div>
                    <p class="service-default-text">The SBS was designed to allow our team of experienced brokers’ trade in Forex on behalf of the clients enabling them to earn 25% ROI monthly on their investments.</p>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-4 wow fadeInUp">
                <!-- Service default-->
                <article class="service-default block-md">
                  <div class="service-default-icon thin-icon-documents"></div>
                  <div class="service-default-caption">
                    <div class="heading-6 service-default-title"><a href="#">Forex/Crypto/Commodities</a></div>
                    <p class="service-default-text">Invest in the world's most popular assets from established industries to booming new age, up-and-comers — pick from our range of trading instruments</p>
                  </div>
                </article>
              </div>
              <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".1s">
                <!-- Service default-->
                <article class="service-default block-md">
                  <div class="service-default-icon thin-icon-lock"></div>
                  <div class="service-default-caption">
                    <div class="heading-6 service-default-title"><a href="#">OLEEM Farm</a></div>
                    <p class="service-default-text">Strengthen food security, create job opportunities and make profit at the same time with our Contract farming where help our clients manage their agriculture projects and make profit from agro-business through aggregate agriculture.</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="gradient-3">
        <!-- Pre-Sale-->
        <section class="section section-xs" id="token-sale">
          <div class="container">
            <div class="row row-30 justify-content-center justify-content-xl-between align-items-center align-items-xl-start">
              <div class="col-sm-8 col-md-6 text-center">
                <div class="discount-progress custom-progress-radial">
                  <svg class="custom-progress-radial-bar" x="0" y="0" width="308" height="308" viewbox="0 0 308 308">
                    <circle class="custom-progress-radial-bg" cx="154" cy="154" r="145"></circle>
                    <circle class="custom-progress-radial-fg clipped" cx="154" cy="154" r="145"></circle>
                    <circle class="custom-progress-radial-dot" cx="154" cy="154" r="9"></circle>
                    <rect class="custom-progress-radial-start" x="154" y="0" width="4" height="18"></rect>
                  </svg>
                  <div class="discount-progress-content">
                    <div class="discount-progress-number"><span class="custom-progress-radial-dividend">150000</span>&#8358;</div>
                    <p>PRICE/UNIT</p>
                    <div class="discount-progress-divider"></div>
                    <div class="discount-progress-number discount-progress-now"><span class="custom-progress-radial-divider">25</span>%</div>
                    <p>MONTHLY ROI</p>
                  </div>
                </div><img class="wow fadeInUp" src="/homepage/images/image-3-552x303.png" alt="" width="552" height="303"/>
              </div>
              <div class="col-md-6 col-xl-5 wow fadeInUp">
                <div class="headings-default">
                  <div class="headings-default-subtitle">SBS</div>
                  <h3>Salary Backup Scheme</h3>
                </div>
                <p class="d-inline-block text-width-medium">Let our team of experienced Forex brokers trade for you and enjoy 25% monthly on our Salary Backup Scheme starting with as little as 150,000 per investment unit.  We do the hard work, you enjoy the benefit.
                  Make sure you always invest where PEACE of mind matters...</p>
                <div class="countdown countdown-style-1" data-type="until" data-time="31 Dec 2019 16:00"></div>
                <div class="group-sm discount-time-wrap">
                  <div class="discount-time">
                    <div class="unit unit-spacing-sm flex-column flex-sm-row flex-md-column flex-lg-row">
                      <div class="unit-left"><span class="icon discount-time-icon mdi mdi-rocket"></span></div>
                      <div class="unit-body">
                        <h6 class="discount-time-title">Start</h6>
                        <p class="discount-time-text">Investment Date</p>
                      </div>
                    </div>
                  </div>
                  <div class="discount-time">
                    <div class="unit unit-spacing-sm flex-column flex-sm-row flex-md-column flex-lg-row">
                      <div class="unit-left"><span class="icon discount-time-icon mdi mdi-flag-checkered"></span></div>
                      <div class="unit-body">
                        <h6 class="discount-time-title">End</h6>
                        <p class="discount-time-text">30 Days After Investment</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group-xl group-middle discount-details justify-content-center justify-content-sm-start">
                  <a class="button button-isi button-primary" href="https://docs.google.com/forms/d/1t5Tsv2lRrIOza76d_TbhAyvPCamqwoNs9TwR77PIVa4/edit?usp=drivesdk">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Our Roadmap-->
        <section class="section-timeline text-sm-left" id="roadmap">
          <div class="container container-custom-1">
            <div class="row">
              <div class="col-sm-7 col-lg-6 col-xl-5 wow fadeInLeft">
                <div class="headings-default">
                  <div class="headings-default-subtitle">Steps</div>
                  <h3>Our Roadmap</h3>
                </div>
                <p class="d-inline-block text-width-medium">4 easy steps to your financial stability</p>
              </div>
            </div>
          </div>
          <svg class="timeline-svg" x="0" y="0" viewBox="0 0 1920 500" preserveAspectRatio="none">
            <path class="timeline-svg-path" d="M 0 490  C 250 525 340 350 460 320  S 600 280 770 350  S 960 350 1070 260  S 1240 140 1420 160  S 1850 100 1920 0"></path>
          </svg>
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-style-1" data-items="1" data-autoplay="false" data-loop="false" data-nav="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-mouse-drag="false" data-touch-drag="false">
            <div class="timeline-dots">
              <div class="timeline-dot">
                <time class="timeline-dot-time" datetime="2019">Step 1</time>
                <div class="timeline-dot-title"><a href="#">complete the registration form</a></div>
              </div>
              <div class="timeline-dot">
                <time class="timeline-dot-time" datetime="2019">Step 2</time>
                <div class="timeline-dot-title"><a href="#">choose the investment package that suits your interest</a></div>
              </div>
              <div class="timeline-dot">
                <time class="timeline-dot-time" datetime="2019">Step 3</time>
                <div class="timeline-dot-title"><a href="#">Fund your account let’s trade for you</a></div>
              </div>
              <div class="timeline-dot">
                <time class="timeline-dot-time" datetime="2019">Step 4</time>
                <div class="timeline-dot-title"><a href="#">Sit back and enjoy 25% earnings monthly</a></div>
              </div>
            </div>
          </div>
        </section>
        <!-- Section Mobile-->
        <section class="section section-xs section-inset-2" id="get-the-app">
          <div class="container">
            <div class="row row-30">
              <div class="col-md-4 col-lg-6 col-xl-7 align-self-end d-none d-md-block wow fadeInLeft">
                <div class="img-style-2"><img src="/homepage/images/image-2-641x616.png" alt="" width="641" height="616"/>
                </div>
              </div>
              <div class="col-md-8 col-lg-6 col-xl-5 inset-bottom-md-100">
                <div class="box-style-2 wow fadeInUp">
                  <div class="headings-default">
                    <div class="headings-default-subtitle">ABOUT</div>
                    <h3>Who We Are</h3>
                  </div>
                  <p class="d-inline-block text-width-medium">Our firm Kingsworth Capital Ltd is a diversified Investment company that seeks to offer a range of alternative and durable financial solution to our clients by providing thought-through and risk calculated opportunities leveraging on our market knowledge and expertise to invest and deliver sound positive alpha returns to our clients.    </p>
                  <ul class="list-marked list-2-columns d-inline-block d-md-block">
                    <li>Forex Trading</li>
                    <li>Crypto Trading</li>
                    <li>OLEEM Farm</li>
                    <li>Comodity Trading</li>
                  </ul>
                  <div class="group-xl group-middle justify-content-center"><a class="button button-isi button-primary" href="#">Know More</a>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="gradient-5">
       
        <section class="section section-lg section-collapse text-center wow fadeInUp" id="faq">
          <div class="container">
            <div class="headings-default">
              <div class="headings-default-subtitle">KNOW MORE</div>
              <h3>Get to know more about us</h3>
            </div>
            <div class="row row-md justify-content-center">
              <div class="col-xl-10">
                <!--Bootstrap tabs-->
                <div class="tabs-custom tabs-line">
                  <!--Nav tabs-->
                  <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-1-1" data-toggle="tab">Who We Are</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-2" data-toggle="tab">MISSION</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">CORE VALUES</a></li>
                  </ul>
                  <!--Tab panes-->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-1-1">
                      <!--Bootstrap collapse-->
                      <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-corporate">
                          <div class="card-header" role="tab">
                            <div class="card-title"><a id="accordion1-card-head-nvsdqvft" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-aitklehc" aria-controls="accordion1-card-body-aitklehc" aria-expanded="true" role="button">Who we really are
                                <div class="card-arrow"></div></a></div>
                          </div>
                          <div class="collapse show" id="accordion1-card-body-aitklehc" aria-labelledby="accordion1-card-head-nvsdqvft" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                              <p>Our firm Kingsworth Capital Ltd is a diversified Investment company that seeks to offer a range of alternative and durable financial solution to our clients by providing thought-through and risk calculated opportunities leveraging on our market knowledge and expertise to invest and deliver sound positive alpha returns to our clients.          
                              </p>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        
                        <!--Bootstrap card-->
                        
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-2">
                      <div class="card-group-custom card-group-corporate" id="accordion2" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-corporate">
                          <div class="card-header" role="tab">
                            <div class="card-title"><a id="accordion2-card-head-wfwuxskf" data-toggle="collapse" data-parent="#accordion2" href="#accordion2-card-body-bcnrsekx" aria-controls="accordion2-card-body-bcnrsekx" aria-expanded="true" role="button">Our Mission Statement
                                <div class="card-arrow"></div></a></div>
                          </div>
                          <div class="collapse show" id="accordion2-card-body-bcnrsekx" aria-labelledby="accordion2-card-head-wfwuxskf" data-parent="#accordion2" role="tabpanel">
                            <div class="card-body">
                              <p>we’re offering a secured investment platform to create financial stability for our clients leveraging on our market knowledge/expertise in valuable trading instruments</p>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        
                      </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-1-3">
                      <div class="card-group-custom card-group-corporate" id="accordion3" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-corporate">
                          <div class="card-header" role="tab">
                            <div class="card-title"><a id="accordion3-card-head-mdsptiwh" data-toggle="collapse" data-parent="#accordion3" href="#accordion3-card-body-ltuookdu" aria-controls="accordion3-card-body-ltuookdu" aria-expanded="true" role="button">Our Core Value?
                                <div class="card-arrow"></div></a></div>
                          </div>
                          <div class="collapse show" id="accordion3-card-body-ltuookdu" aria-labelledby="accordion3-card-head-mdsptiwh" data-parent="#accordion3" role="tabpanel">
                            <div class="card-body">
                              <p>we believe in our brand, we believe reward follows calculated risk supported by sound governance and interest alignment. We strongly believe in client trust and long term relationships. We believe this can be achieved by openness an unwavering integrity. We believe that peace of mind matters.

                                We believe our clients come first. We believe our people are key. We believe that team work, entrepreneurial spirit and effort combination are key elements to sustainable performance. We are innovative. We are unconventional. We are KINGSWORTH CAPITAL.</p>
                            </div>
                          </div>
                        </article>
                        <!--Bootstrap card-->
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="gradient-5">
        <section class="section section-lg" id="contacts">
          <div class="container">
            <div class="row row-30 row-md-50 align-items-center">
              <div class="col-md-6 wow fadeInUp">
                <div class="inset-right-xl-70">
                  <div class="headings-default">
                    <div class="headings-default-subtitle">Contacts</div>
                    <h3>Have Any Questions?</h3>
                  </div>
                  <p class="d-inline-block text-width-medium">You can contact us any way that is convenient for you. We are available 24/7 via email or telephone. You can also reach to us Makurdi: Block 14, flat 16, 72 SF BN barracks Otukpo: #8 David Mark way GRA (Praise Laundry)</p>
                  <ul class="contact-default d-inline-block inset-left-xl-70">
                    <li class="unit unit-spacing-lg align-items-center">
                      <div class="unit-left"><span class="contact-default-icon icon mdi mdi-telegram"></span></div>
                      <div class="unit-body"><a class="contact-default-link" href="#">Join us on Telegram</a></div>
                    </li>
                    <li class="unit unit-spacing-lg align-items-center">
                      <div class="unit-left"><span class="contact-default-icon icon mdi mdi-message-text"></span></div>
                      <div class="unit-body"><a class="contact-default-link" href="tel:#">08056188265</a></div>
                    </li>
                    <li class="unit unit-spacing-lg align-items-center">
                      <div class="unit-left"><span class="contact-default-icon icon mdi mdi-email"></span></div>
                      <div class="unit-body"><a class="contact-default-link" href="mailto:#">kingsworthcapitalltd@yahoo.com</a></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 wow fadeInRight">
                <div class="form-style-1">
                  <!--RD Mailform-->
                  <form class="rd-mailform rd-form" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-name">Name</label>
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                    </div>
                    <div class="form-wrap">
                      <label class="form-label" for="contact-email">E-Mail</label>
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Message</label>
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                    </div>
                    <div class="form-button">
                      <button class="button button-primary button-isi" type="submit">Send</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="section section-md bg-secondary-9 text-sm-left wow fadeInUp">
        <div class="container">
          <div class="row row-30 row-md-50">
            <div class="col-lg-5">
              <div class="inset-right-xl-50">
                <div class="title-style-1">Subscribe to our newsletter</div>
                <form class="rd-mailform rd-form rd-form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                  <div class="form-wrap">
                    <input class="form-input" id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required">
                    <label class="form-label" for="subscribe-form-email">E-mail</label>
                  </div>
                  <div class="form-button">
                    <button class="button button-icon-2 button-primary" type="submit"><span class="icon mdi mdi-email-outline"></span></button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="inset-left-xl-70">
                <div class="title-style-1">Social media</div>
                <ul class="list-inline list-inline-md list-social">
                  <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                  <li><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
      </section>