<main class="main1" role="main">
    <section class="glass">
        <div class="dashboard">
            <div class="user">


                <div class="user-details">
                    <img src="default-img.jpg" style="width: 20vh; border-radius:50%; border:.3rem solid rgb(221, 221, 221);" alt="">
                    <h3 style="color: brown;">{{firstName}} {{lastName}}</h3>
                    <p style="font-size: .7rem;">{{phone}}</p>
                </div>
                
                
                <div class="wallet">
                    <div class="walcont">
                        Wallet Ballance
                        <p>N 0.0000</p>
                    </div>
                    <div class="walcont">
                        Withdrawable
                        <p>N 0.000</p>
                    </div>
                  
                   
                </div>
            </div>
            <div class="investments">
                <div class="status">
                    <h1>Active investments</h1>
                </div>
                <div class="cards" style="display: none;">
                    <div class="card-info">
                        <h2>Salary Backup Scheme</h2>
                        <p>29:23:34:00</p>
                        <div class="progress"></div>
                    </div>
                    <h2 class="percentage">60%</h2>
                    <input type="button" value="Start">
                </div>
                <input type="submit" id="order" value="Start Investing">

            </div>
        </div>
        <script src="/js/order.js"></script>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>