<main role="main">
    <div class="container marketing">
        {{> default/messages}}
        <div class="card card-register mx-auto my-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                <form action="/register" method="post" style="color:black;">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputName">First name</label>
                                <input name="firstName" class="form-control" id="exampleInputName" type="text"
                                    aria-describedby="nameHelp" placeholder="Enter first name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputLastName">Last name</label>
                                <input name="lastName" class="form-control" id="exampleInputLastName" type="text"
                                    aria-describedby="nameHelp" placeholder="Enter last name" required>
                            </div>
                            <div class="col-md-6">
                                 <label for="exampleInputEmail1">Email address</label>
                                 <input name="email" class="form-control" id="exampleInputEmail1" type="email"
                                    aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>

                            <div class="col-md-6">
                                <label for="exampleInputEmail1">Phone Number</label>
                                <input name="phone" class="form-control" id="phone" type="phone"
                                 placeholder="Enter Phone Number" required>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <label for="datOfBirth">Date of Birth</label>
                            <input name="datOfBirth" class="form-control" id="datOfBirth" type="text"
                                aria-describedby="nameHelp" placeholder="DD/MM/YY" required>
                            <div class="invalid-feedback">
                                Please enter Date Of Birth.
                            </div>
                        </div>
                    </div>


                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adress</label>
                        <input name="adress" class="form-control" id="adress" type="text"
                            placeholder="Enter Your Adress" required>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                <input name="password" class="form-control" id="exampleInputPassword1" type="password"
                                    placeholder="Password" required>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                <input name="passwordConfirm" class="form-control" id="exampleConfirmPassword"
                                    type="password" placeholder="Confirm password" required>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="/login">Login Page</a>
                    <a class="d-block small" href="/">Home Page?</a>
                </div>
            </div>

        </div>
    </div>
    </div>
</main>